<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intea.mapper.AdminMapper">
    <sql id="memberColumns">
        i_mem, id, email, pw, nm, phone, postCode, address, de_address, birth
        , verify, delete_yn, insert_time, update_time, last_login_time
    </sql>

    <sql id="productColumns">
        i_product, large_ct, small_ct, p_nm, price, p_description, purchase_cnt
        , product_status, stock, title_img, delete_ym, insert_time, update_time
    </sql>

    <sql id="insProductColumns">
        large_ct, small_ct, p_nm, price, p_description, purchase_cnt
        , product_status, stock, title_img, delete_yn, insert_time, update_time
    </sql>

    <sql id="ordersColumns">
        i_order, i_mem, rec, amount, oreder_time, postCode, address, de_address, phone, delivery
    </sql>

    <sql id="ctColumns">
        i_category, ref_category, c_nm
    </sql>

    <!-- 상품 등록 -->
    <insert id="insProduct" useGeneratedKeys="true" keyProperty="i_product">
        INSERT INTO product (
        <include refid="insProductColumns"/>
        ) VALUES (
        #{large_ct}, #{small_ct}, #{p_nm}, #{price}, #{p_description}, #{purchase_cnt}
        , #{product_status}, #{stock}, #{title_img}, 'N', NOW(), NULL
        )
    </insert>

    <!-- 상품 수정 -->
    <update id="updProduct">
        UPDATE product
        SET
            update_time = NOW()
          , large_ct = #{large_ct}, small_ct = #{small_ct}, p_nm = #{p_nm}, price = #{price}
          , p_description = #{p_description}, purchase_cnt = #{purchase_cnt}
          , product_status = #{product_status}, stock = #{stock}, title_img = #{title_img}
        WHERE delete_yn = 'N'
          AND i_product = #{i_product}
    </update>

    <!-- 상품 삭제 -->
    <update id="delProduct" parameterType="long">
        UPDATE product
        SET delete_yn = 'Y', delete_time = NOW()
        WHERE i_product = #{i_product}
    </update>

    <!-- 모든 주문 목록 -->
    <select id="selOrdersList" resultType="OrdersEntity">
        SELECT
        <include refid="ordersColumns"/>
        FROM orders
    </select>

    <select id="selOrdersTotalCnt" resultType="int">
        SELECT COUNT(*)
        FROM Orders
        WHERE delete_yn = 'N'
    </select>



    <!-- 배송 상태 -->
    <update id="updDelivery">
        UPDATE orders
        SET delivery = #{delivery}
        WHERE i_order = #{i_order}
    </update>

    <update id="delOrder">
        UPDATE orders
        SET delete_yn = 'Y'
        WHERE i_order = #{i_order}
    </update>

    <!-- 특정 주문 목록 -->
    <select id="orderView" resultType="OrdersEntity">
        SELECT
            o.i_order, o.i_mem, o.rec
             , o.zip, o.address, o.de_address
             , o.phone, o.amount, o.order_time, o.delivery
             , d.i_detail, d.i_product, d.stock
             , p.p_nm, p.price
        FROM orders o
                 INNER JOIN orders_detail d
                            ON o.i_order = d.i_order
                 INNER JOIN product p
                            ON d.i_product = p.i_product
        WHERE o.i_order = #{i_order}
    </select>

    <!-- 상품 수량 조절 보조 -->
    <select id="changeStock_sub" resultType="OrdersDetailEntity">
        SELECT i_order, i_product, stock
        FROM orders_detail
        WHERE i_order = #{i_order}
    </select>

    <!-- 상품 수량 조절 -->
    <update id="changeStock">
        UPDATE product
        SET stock = stock - #{stock}
        WHERE p_nm = #{p_nm}
    </update>

    <!-- 전체 회원 리스트 -->
    <select id="selMemberList" resultType="MemberEntity">
        SELECT <include refid="memberColumns"/>
        FROM members
        WHERE delete_yn = 'N'
        ORDER BY i_mem DESC, insert_time DESC
    </select>

    <select id="selMemberTotalCnt" resultType="int">
        SELECT COUNT(*)
        FROM members
        WHERE delete_yn = 'N'
    </select>
</mapper>