<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intea.mapper.CommentMapper">

    <sql id="commentColumns">
        i_cmt, i_board, i_mem, content, delete_yn, insert_time, update_time, delete_time
    </sql>

    <resultMap id="cmtMap" type="CommentEntity">
        <id property="i_cmt" column="i_cmt"/>
        <result property="i_board" column="i_board"/>
        <result property="i_mem" column="i_mem"/>
        <result property="nm" column="nm"/>
        <result property="content" column="content"/>
        <result property="delete_yn" column="delete_yn"/>
        <result property="insert_time" column="insert_time"/>
        <result property="update_time" column="update_time"/>
        <result property="delete_time" column="delete_time"/>
    </resultMap>

    <insert id="insComment" parameterType="CommentEntity">
        INSERT INTO r_comment (
            i_board, i_mem, content, delete_yn, insert_time, update_time, delete_time
        ) VALUES (
            #{i_board}, #{i_mem}, #{content}
            , IFNULL(#{delete_yn}, 'N')
            , NOW(), NULL, NULL
        )
    </insert>

    <select id="selCommentDetail" parameterType="long" resultMap="cmtMap">
        SELECT <include refid="commentColumns"/>
        FROM r_comment
        WHERE delete_yn = 'N'
        AND i_cmt = #{i_cmt}
    </select>

    <update id="updComment" parameterType="CommentEntity">
        UPDATE r_comment
        SET
            update_time = NOW(), content = #{content}
        WHERE i_cmt = #{i_cmt}
    </update>

    <update id="delComment" parameterType="long">
        UPDATE r_comment
        SET delete_yn = 'Y', delete_time = NOW()
        WHERE i_cmt = #{i_cmt}
    </update>

    <select id="selCommentList" parameterType="CommentEntity" resultMap="cmtMap">
        SELECT
            A.i_cmt, B.nm, A.content, A.insert_time, A.update_time
        FROM r_comment A
            INNER JOIN members B
                ON A.i_mem = B.i_mem
        WHERE delete_yn = 'N'
        AND i_board = #{i_board}
        ORDER BY i_cmt DESC, insert_time DESC
    </select>

    <select id="selCommentTotalCnt" parameterType="CommentEntity" resultType="int">
        SELECT COUNT(*)
        FROM r_comment
        WHERE delete_yn = 'N'
        AND i_board = #{i_board}
    </select>
</mapper>