<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intea.mapper.MemberMapper">
    <sql id="memberColumns">
        i_mem, mem_id, email, pw, nm, phone, postCode, address, de_address, birth
        , verify, delete_yn, insert_time, update_time, last_login_time
    </sql>

    <sql id="insMemberColumns">
        mem_id, email, nm, pw, phone, postCode, address, de_address
        , verify, delete_yn, insert_time, update_time, last_login_time
    </sql>

    <resultMap id="memberMap" type="MemberEntity">
        <id property="i_mem" column="i_mem"/>
        <result property="mem_id" column="mem_id"/>
        <result property="email" column="email"/>
        <result property="pw" column="pw"/>
        <result property="nm" column="nm"/>
        <result property="phone" column="phone"/>
        <result property="postCode" column="postCode"/>
        <result property="address" column="address"/>
        <result property="de_address" column="de_address"/>
        <result property="birth" column="birth"/>
        <result property="verify" column="verify"/>
        <result property="delete_yn" column="delete_yn"/>
        <result property="insert_time" column="insert_time"/>
        <result property="update_time" column="update_time"/>
        <result property="last_login_time" column="last_login_time"/>
    </resultMap>

    <insert id="insMember">
        INSERT INTO members (<include refid="insMemberColumns"/>)
        VALUES (
            #{mem_id}, #{email}, #{nm}, #{pw}
            , #{phone}, #{postCode}, #{address}, #{de_address}
            , 'MEMBER', 'N', NOW(), NULL, NULL
        )
    </insert>

    <select id="selMember" resultMap="memberMap">
        SELECT <include refid="memberColumns"/>
        FROM members
        <where>
            <if test="i_mem > 0">i_mem = #{i_mem}</if>
            <if test="mem_id != null and mem_id != ''">mem_id = #{mem_id}</if>
        </where>
    </select>

    <select id="selMyInfo" resultMap="memberMap">
        SELECT <include refid="memberColumns"/>
        FROM members
        WHERE delete_yn = 'N'
        AND i_mem = #{i_mem}
    </select>

    <update id="updMyInfo">
        UPDATE members
        SET
            update_time = NOW()
            , phone = #{phone}, postCode = #{postCode}, address = #{address}, de_address = #{de_address}

        WHERE i_mem = #{i_mem}
    </update>

    <select id="findMemId" resultMap="memberMap">
        SELECT mem_id FROM members
        WHERE email = #{email}
    </select>

    <select id="findMemPw" resultMap="memberMap">
        SELECT mem_id, nm, email, pw
        FROM members
        WHERE mem_id = #{mem_id} AND email = #{email}
    </select>

    <update id="updMemPw">
        UPDATE members
        SET pw= #{pw}
        WHERE mem_id = #{mem_id}
    </update>

    <!-- 회원 탈퇴 -->
    <delete id="delMember">
        DELETE FROM members
        WHERE mem_id = #{mem_id}
        AND pw = #{pw}
    </delete>
</mapper>