<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intea.mapper.OrdersMapper">

    <resultMap id="cartListMap" type="ShopDTO">
        <id property="i_cart" column="i_cart"/>
        <result property="i_mem" column="i_mem"/>
        <result property="i_product" column="i_product"/>
        <result property="count" column="count"/>
        <result property="delete_yn" column="delete_yn"/>
        <result property="insert_time" column="insert_time"/>
        <result property="update_time" column="update_time"/>
        <result property="i_product" column="i_product"/>
        <result property="i_category" column="i_category"/>
        <result property="p_nm" column="p_nm"/>
        <result property="price" column="price"/>
        <result property="p_description" column="p_description"/>
        <result property="stock" column="stock"/>
        <result property="delete_yn" column="delete_yn"/>
        <result property="insert_time" column="insert_time"/>
        <result property="update_time" column="update_time"/>
    </resultMap>

    <resultMap id="ordersListMap" type="OrdersListDTO">
        <id property="i_order" column="i_order"/>
        <result property="i_mem" column="i_mem"/>
        <result property="rec" column="rec"/>
        <result property="amount" column="amount"/>
        <result property="order_time" column="order_time"/>
        <result property="postCode" column="postCode"/>
        <result property="address" column="address"/>
        <result property="de_address" column="de_address"/>
        <result property="phone" column="phone"/>
        <result property="delivery" column="delivery"/>
        <result property="i_detail" column="i_detail"/>
        <result property="i_order" column="i_order"/>
        <result property="i_product" column="i_product"/>
        <result property="stock" column="stock"/>
        <result property="i_category" column="i_category"/>
        <result property="p_nm" column="p_nm"/>
        <result property="price" column="price"/>
        <result property="p_description" column="p_description"/>
        <result property="change_yn" column="change_yn"/>
    </resultMap>

    <sql id="ordersColumns">
        i_order, i_mem, rec, amount, order_time, postCode, address, de_address, phone, delivery
    </sql>

    <resultMap id="odMap" type="OrdersEntity">
        <id property="i_order" column="i_order"/>
        <result property="i_mem" column="i_mem"/>
        <result property="rec" column="rec"/>
        <result property="amount" column="amount"/>
        <result property="oreder_time" column="oreder_time"/>
        <result property="postCode" column="postCode"/>
        <result property="address" column="address"/>
        <result property="de_address" column="de_address"/>
        <result property="phone" column="phone"/>
        <result property="delivery" column="delivery"/>
    </resultMap>

    <sql id="ordersDetailColumns">
        i_detail, i_order, i_product, stock
    </sql>

    <resultMap id="odDetailMap" type="OrdersDetailEntity">
        <id property="i_detail" column="i_detail"/>
        <result property="i_order" column="i_order"/>
        <result property="i_product" column="i_product"/>
        <result property="stock" column="stock"/>
    </resultMap>

    <!-- 주문 등록 -->
    <insert id="insOrders" parameterType="OrdersEntity">
        INSERT INTO orders
        (i_order, i_mem, rec, postCode, address, de_address, phone, amount, order_time)
        VALUES
        (#{i_order}, #{i_mem}, #{rec}, #{zip}, #{address}, #{de_address}, #{phone}, #{amount}, NOW())
    </insert>

    <insert id="insOrders_details" parameterType="OrdersDetailEntity">
        INSERT INTO orders_detail (i_detail, i_order, i_product, stock)
        SELECT #{i_detail}', #{i_order}, i_product, stock
        FROM cart
    </insert>

    <!-- 특정 주문 목록 -->
    <select id="selOrdersDetail" resultMap="ordersListMap">
        SELECT A.i_order, A.i_mem, A.rec, A.postCode, A.address, A.de_address, A.phone, A.amount, A.order_time
            B.i_detail, B.i_product, B.stock
            C.p_nm, C.price
        FROM orders A
                 INNER JOIN orders_detail B
                            ON A.i_order = B.i_order
                 INNER JOIN product C
                            ON B.i_product = C.i_product
        WHERE A.i_mem = #{i_mem}
          AND A.i_order = #{i_order}
    </select>

    <!-- 특정 유저의 주문 목록 -->
    <select id="membersOrdersList" resultMap="ordersListMap">
        SELECT
        <include refid="ordersColumns"/>
        FROM orders
        WHERE i_mem = #{i_mem}
    </select>
</mapper>