<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intea.mapper.ProductMapper">

    <!-- 상품 컬럼 -->
    <sql id="productColumns">
        i_product, large_ct, small_ct, p_nm, price, p_description, purchase_cnt
        , product_status, stock, title_img, delete_yn, insert_time, update_time
    </sql>
    <!--카테고리 컬럼-->
    <sql id="ctColumns">
        i_category, c_nm, c_code, ct_level
    </sql>

    <resultMap id="pdMap" type="ShopDTO">
        <id property="i_product" column="i_product"/>
        <result property="large_ct" column="large_ct"/>
        <result property="small_ct" column="small_ct"/>
        <result property="p_nm" column="p_nm"/>
        <result property="price" column="price"/>
        <result property="p_description" column="p_description"/>
        <result property="purchase_cnt" column="purchase_cnt"/>
        <result property="product_status" column="product_status"/>
        <result property="stock" column="stock"/>
        <result property="title_img" column="title_img"/>
        <result property="delete_yn" column="delete_yn"/>
        <result property="insert_time" column="insert_time"/>
        <result property="update_time" column="update_time"/>
    </resultMap>

    <resultMap id="categoryMap" type="CategoryEntity">
        <id property="i_category" column="i_category"/>
        <result property="c_code" column="c_code"/>
        <result property="c_nm" column="c_nm"/>
        <result property="ct_level" column="ct_level"/>
    </resultMap>

    <!-- 카테고리 호출 -->
    <select id="category" resultMap="categoryMap">
        SELECT <include refid="ctColumns"/>
        FROM p_category
    </select>

    <!-- 상품 전체보기 -->
    <select id="selAllProduct" parameterType="long" resultMap="pdMap">
        SELECT <include refid="productColumns"/>
        FROM product
        WHERE delete_yn = 'N'
        <include refid="CommonMapper.search"/>
        ORDER BY i_product DESC
<!--        <include refid="CommonMapper.paging"/>-->
    </select>
    <select id="selNewProduct" resultMap="pdMap">
        SELECT
        <include refid="productColumns"/>
        FROM product
        WHERE delete_yn = 'N'
        ORDER BY
        insert_time DESC
        LIMIT 0, 8
    </select>


    <!-- 카테고리별 상품 리스트 1차분류 -->
<!--    <select id="selProductListBigCt" resultMap="pdMap">
        SELECT
            A.p_nm, A.price
        FROM product A
            INNER JOIN p_category B
                ON A.large_ct = B.i_category
        WHERE delete_yn = 'N'
        AND B.ref_category = #{ref_category}
    </select>-->

    <!-- 카테고리별 상품 리스트 2차분류 -->
    <select id="selProductListSmallCt" resultMap="pdMap">
        SELECT A.p_nm, A.price
        FROM product A
            INNER JOIN p_category B
                ON A.i_category = B.i_category
        WHERE delete_yn = 'N'
        AND B.c_code = 'SMALL'
    </select>

    <!-- 상품 상세보기 -->
    <select id="selProductDetail" resultMap="pdMap">
        SELECT <include refid="productColumns"/>
        FROM product
        WHERE i_product = #{i_product}
    </select>

    <!-- 상품 총 갯수 -->
    <select id="selProductTotalCnt" parameterType="ProductEntity" resultType="int">
        SELECT COUNT(*)
        FROM product
        WHERE delete_yn = 'N'
        <include refid="CommonMapper.search"/>
    </select>

    <!-- 상품 총 갯수(1차 분류) -->
<!--    <select id="productCntBigCt" resultType="int">
        SELECT COUNT(*)
        FROM product A
            INNER JOIN p_category B
                ON A.large_ct = B.ref_category
        WHERE delete_yn = 'N'
        AND B.ref_category = #{ref_category}

    </select>-->

    <!-- 상품 총 갯수(2차 분류) -->
    <select id="productCntSmallCt" resultType="int">
        SELECT COUNT(*)
        FROM product
        WHERE delete_yn = 'N'
            AND i_category = #{i_category}
    </select>

</mapper>