<!DOCTYPE html>
 <html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header id="header" th:fragment="site-header">
    <a th:href="@{/}" class="logo"><strong>IN-TEA</strong> by Su-in</a>
    <ul class="icons">
        <div th:if="${session.loginUser == null}">
            <li><a th:href="@{/login}" class="icon brands"><i class="fas fa-sign-in-alt" aria-hidden="true"></i><span class="label">로그인</span></a></li>
        </div>

        <div th:unless="${session.loginUser == null}">
            <li><a th:href="@{/my/cart}" class="icon brands"><i class="fas fa-shopping-cart"></i><spans class="label">장바구니</spans></a></li>
            <li><a th:href="@{/user/modify}" class="icon brands"><i class="fas fa-info"></i><span class="label">회원정보</span></a></li>
            <li><a th:href="@{/user/signout}" class="icon brands"><i class="fas fa-sign-out-alt" aria-hidden="true"></i><span class="label">로그아웃</span></a></li>
        </div>
    </ul>
</header>
</html>