<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- Sidebar -->
<div id="sidebar" th:fragment="site-nav">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>CATEGORY</h2>
            </header>
            <div class="header-nav-wrapper navbar-scrolltofixed">
                <div class="container">
                    <nav id="menuzord" class="menuzord green">
                        <ul class="menuzord-menu">
                            <li><a href="#home">전체카테고리</a>
                                <ul class="dropdown category">
                                    <th:block th:if="${#lists.size(catList_L)} > 0" th:each="catList_L : ${catMapList.get('mainCatList')}">
                                        <li th:if="${(catList_L.getCatLv() eq 1)}">
                                            <a href="#" th:text="${catList_L.getCatNm()}"></a>
                                            <ul class="dropdown">
                                                <th:block th:if="${#lists.size(catList_S)} > 0" th:each="catList_S : ${catMapList.get('mainCatList')}">
                                                    <li th:if="${(catList_S.getCatLv() eq 2) and (catList_L.getCatCd() eq catList_S.getUpprCatCd())}">
                                                        <a th:href="@{|${catList_S.getCnntUrl()}?catCd=${catList_S.getCatCd()}|}" th:text="${catList_S.getCatNm()}"></a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </li>
                                    </th:block>
                                </ul>
                            </li>
                            <li id="saleProductList"><a href="/saleProductList" >On sale</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </div>
</div>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>CONTACT</h2>
            </header>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">suve1y34@gmail.com</a></li>
                <li class="icon solid fa-phone">010-9758-0122</li>
                <li class="icon solid fa-home">대구광역시 동구 동촌동<br />
                    어쩌구, 저쩌구</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>
    </div>
</div>
</html>